* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;  
    /*background-color: rgb(203, 224, 231); */

}

/* style for the header */
header {
    background-color: rgb(203, 224, 231);
    /*padding: 30px;*/
    text-align: center;
    font-size: 30px;
}

/*
    create two columns/boxes that float next to each other
*/
nav {
    float: left;
    width: 10%;
    min-height: 100vh;
    position: fixed;
    background: rgb(203, 224, 231);
    text-align: center;
}

/*
    xstyle the list inside the nav menu
*/ 
nav ul {
    list-style-type: none;
    text-align: left;
}

nav li {
    padding-top: 50px;
    display: block;
}

article {
    float: right;
    text-align: center;
    padding: 20px;
    width: 90%;
    background-color: rgb(203, 224, 231);
    min-height: 100vh;
}

/* clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* style the footer */
footer {
    background-color: aliceblue;
    padding: 10px;
    text-align: center;
}

/* 
    Responsive layout -makes two columns/boxes stack on top of each other instead of
    next to eac hother on small screens
*/
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

a:link {
    color: rgb(247, 0, 255);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(247, 0, 255);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 208, 56);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}